@charset "utf-8";
body{color: #333;}
hr{height: 1px; border: 0; background: #eaeaea; padding: 0; margin: 0;}
.header{box-shadow: 0 1px 5px #e8e8e8; border-bottom:1px solid #e8e8e8;}
a{color: #666; text-decoration: none;}
body{min-width: 1200px;}
.h_call{ color: #666; line-height: 40px;}
.h_call span{ color: #333;}
.icon_iphone{display: inline-block; background:url(../images/icon_iphone.jpg) no-repeat left center;}
.nav{height: 41px;}
.nav li{display: inline-block; *zoom:1;*display: inline;}
.nav li a{ padding:10px 28px; border-radius: 10px; display: block; }
.nav li a.cover{background: #ffa000; color: #fff;}
.nav li a:hover{background: #ffa000; color: #fff;}
.nav_bor{width: 100%; border-bottom: 1px solid #c7c7c7;}

.banner{width: 100%;}
.banner .item{min-height: 420px; }
.banner .item .fill{cursor:pointer;background-position: center;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover; width: 100%; min-height: 420px; cursor: pointer;}
.banner .prev,.next{background: url(../images/icon_btn.png) no-repeat center; display: block; width: 58px; height: 102px; cursor: pointer; top: 155px;}
.banner .prev{background-position: 0 0; left:50px;}
.banner .next{background-position:-58px 0; right: 50px;}
.banner .prev:hover{background-position:-116px 0;}
.banner .next:hover{background-position:-174px 0;}

.strip{height: 8px; background-color:#f09e13;}
.icon{width: 100%; font-size: 0;}
.icon li{display: inline-block; margin-right: 73px; *zoom:1;*display: inline;}
.icon li:last-child{margin-right: 0;}
.icon li:first-child+li+li+li{margin-right: 0;}
.icon li a{width: 245px; height: 95px;}
.icon li a i{display: block; width: 60px; height: 60px; background: url(./../images/icon_img.png) no-repeat;}
.icon li a .icon_h{background-position: 0 0;}
.icon li a .icon_c{background-position: 0 -60px;}
.icon li a .icon_b{background-position: 0 -120px;}
.icon li a .icon_s{background-position: 0 -180px;}
.icon li a dl dt{font-size:18px; color:#666;}
.icon li a dl dd{font-size: 14px; color: #999;}
/*.icon li a.cover{background: #fafafa;}*/
.icon li a:hover{background: #fafafa;}

.recom{width:190px; height: 60px;}
.recom_t{font-size: 0; text-align:center; margin-top: 25px; }
.recom_t li{display: inline-block; margin-right: 45px; *zoom:1;*display: inline;}
.recom_t li:last-child{margin-right: 0px;}
.recom_t li:first-child+li+li+li+li{margin-right: 0px;}
.recom_t li a{width: 130px; height: 40px; display: block; text-align: center; line-height: 40px; border:1px solid #999; font-size: 14px; border-radius: 30px;}
.recom_t li a:hover{border:1px solid #ffa000; background:#ffa000; color:#fff;}
.recom_img .r_1,.r_2,.r_3 { background-repeat: no-repeat; background-position: center; }
.recom_img  a{ color: #fff;  }
.recom_img  a:hover{text-decoration: underline;}
.recom_img .r_1{width: 795px; height: 300px; background-size: 100%;}
.recom_des{height: 70px; width: 100%; background-color:rgba(0,0,0,0.4); bottom: 0; color: #fff;  /*filter:alpha(opacity=50);*/ }
.recom_des dl dt{font-size: 16px;}
.recom_des dl dd{font-size: 12px; color: #d8d8d8; margin-top:6px;}
.recom_des p{padding-top: 25px;}
.recom_btn{bottom: 50px; right: 15px; cursor: pointer;}
.recom_btn span{display:inline-block; width: 22px; height: 6px; cursor: pointer; background: #c5c5c5;}
.recom_btn span.cover{background: #fff; }
.recom_img .r_2{width: 384px; height: 300px; background-size: 100%;}
.recom_img .r_3{width: 386px; height: 300px; background-size: 100%;}
.recom_img .r_3:first-child{width: 388px; height: 300px;}
.recom_img .ier_3{margin-left: 20px;}
.recom_img .ier_3:first-child{margin-left:0;}

.custi{width:204px; height: 59px;}
.custi_con .custi_cs1{width: 794px;}
.custi_con .fr{width: 380px;}
.hr{background-color: #c5c5c5; height: 1px; border:0;}
.custi_tit{height: 12px;}
.custi_tit span{background:#fff url(./../images/icon_tri.png) no-repeat left center; padding:0 5px 0 20px; top: -15px;}
.custi_tit a{color: #0042ff; right: 0; top: -10px; background: #fff;}
.custi_list{list-style: disc;}
.custi_list li{color: #666;}
.custi_box:last-child{ margin-bottom: 0px; }
.custi_box:first-child+div+div{margin-bottom: 0px;}
.custi_con .custi_s1{width: 385px;}
.custi_con .custi_s{width: 385px; height: 223px; background-repeat:no-repeat; background-origin: center center; }


.footer{width: 100%; background-color: #333; padding-top: 60px;}
.footer .foo_nav{padding-left: 85px; width: 1010px;}
.footer .foo_nav dl{width:80px; color: #fff; font-size:14px; margin-right:130px; }
.footer .foo_nav dl dt{font-size:18px; padding-bottom: 10px;}
.footer .foo_nav dl dd{line-height: 32px;}
.footer .foo_nav dl a{color: #fff;}
.footer .foo_code{width: 125px; color: #fff; padding-top: 15px; text-align: center;}
.footer .foo_code p {  line-height:55px; }
.footer .foo_co{background: #211d1d; color: #fff; text-align: center; font-size: 14px; padding:25px 0; margin-top: 25px;}
.footer .foo_co p{line-height: 25px;}